<div class="sensations-container">
  <div class="max-w-2xl mx-auto space-y-8">
    <div class="text-center">
      <h2 class="h2-entourage text-3xl font-bold text-gray-900">Mes sensations</h2>
      <p class="p-entourage mt-2 text-sm text-gray-600">Comment vous sentez-vous ?</p>
    </div>
  <%= form_with model: Sensation.new, url: user_sensations_path(@user) do |f| %>
    <label for="sensation_content">
      <%= f.text_area :content,
          id: "sensation_content",
          rows: 4,
          class: "mt-0.5 w-full resize-none rounded border-gray-300 shadow-sm text-xl",
          placeholder: "Après mon Doliprane, je me suis senti un peu vaseux."
        %>
    </label>
    <div class="mt-1.5 flex items-center justify-end gap-2">
      <%= f.submit "Save",
          class: "rounded border border-gray-300 px-4 py-2 text-lg font-medium text-gray-900 shadow-sm transition-colors hover:bg-gray-100" %>
    </div>
  <% end %>
  <ul class="mt-6 space-y-2">
    <% @sensations.each do |sensation| %>
      <div class="flex p-3 bg-gray-100 rounded justify-between text-lg">
        <div class = "w-8/12">
          <%= sensation.content %>
          <div>
            <span class="text-xs text-gray-500">
              <%= time_ago_in_words(sensation.created_at) %>
            </span>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <%= link_to "Supprimer",
              user_sensation_path(@user, sensation),
              data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette sensation ?" },
              class: "rounded border border-transparent px-3 py-1.5 text-sm font-medium text-gray-700 transition-colors hover:text-gray-900"
            %>
        </div>
      </div>
    <% end %>
  </ul>
  <%= render "shared/back_button" %>
</div>
