<div class="pillami-container">
  <div class="pillami-main">
    <div class="reminder-header">
      <h1 class="section-title">Mes Rappels</h1>
      <%= link_to 'Ajouter', new_user_reminder_path(@user), class: "pillami-btn-primary-1" %>
    </div>
    <% if @reminders.any? %>
      <div class="reminders-grid">
        <% @reminders.each do |reminder| %>
          <div class="reminder-card">
            <div class="reminder-body">
              <h2 class="reminder-title"><%= reminder.medicament.nom %></h2>
              <p class="reminder-text">
                Heure :
                <%= reminder.time.present? ? reminder.time.strftime("%H:%M") : "Non définie" %> |
                <%= pluralize_fr(reminder.quantity, reminder.measure) %>
                |
                <%= pluralize_fr(reminder.days_of_week&.count || 0, "jour") %> :
                <%= reminder.days_of_week&.map { |day| I18n.t("date.day_names")[Date::DAYNAMES.index(day)] }&.join(", ") || "Aucun" %>
              </p>
              <div class="reminder-actions">
                <%= link_to "Supprimer",
                  user_reminder_path(@user, reminder),
                  class: "pillami-btn-sm pillami-btn-secondary",
                  data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce rappel ?" }%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="no-reminders">Vous n'avez pas encore de rappels.</p>
    <% end %>

    <%= render "shared/back_button" %>
  </div>
</div>
