<!DOCTYPE html>
<html>
  <head>
    <title>Pillami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="flex min-h-screen">
        <div class="shrink-0 transition-all duration-300">
          <%= render "shared/navbar" %>
        </div>
        <div class="flex-1">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
  </body>
</html>
