<!DOCTYPE html>
<html>
  <head>
    <title>Pillami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-2">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
      </div>
      <div class="col-span-10">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
